<div class="row">
	<header class="col-md-6 col-md-offset-3">
		<h1>Sébastien Denooz</h1>
		<div class="btn-group btn-group-justified" role="group">
			<a href="mailto:sebastien.denooz@gmail.com" class="btn btn-default"><i class="fa fa-envelope-o"></i>&nbsp;E-Mail</a>
			<a href="https://github.com/SebastienDenooz" class="btn btn-default"><i class="fa fa-github"></i>&nbsp;Github</a>
			<a href="https://raw.githubusercontent.com/SebastienDenooz/SebastienDenooz.github.io/master/curriculum_vitae.pdf" class="btn btn-default"><i class="fa fa-file-text-o"></i>&nbsp;Curriculum Vitae</a>
		</div>
	</header>
</div>